html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    min-height: 740px;
	background-image: url('../img/triangles.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.underline { text-decoration: underline }

.page {
	width: 100%;
    height: 100vh;
    opacity: .8;
	background: -webkit-linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
	background: -moz-linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
	background: -ms-linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
	background: -o-linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
	background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

.logo-wrapper {
	margin: 0 auto;
    width: 150px;
    padding-top: 10px;
}

.logo {
	stroke: white;
	border-radius: 5px;
}

.logo-wording {
	vertical-align: top;
    padding-top: 5px;
}

.logo,
.logo-wording {
	fill: white;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #FFF;
    border-radius: 10px;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 1000px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.quote p {
	font-size: 1.2em;
}

.quote footer {
	font-size: 18px;
	margin-top: 30px;
}

.percent {
	font-size: 250px;
	font-weight: bold;
}

.laptop {
	width: 400px;
    height: 450px;
    margin: 0 auto;
    display: block;
}

.title {
	font-size: 100px;
}

.icon {
	width: 200px;
    float: right;
    height: 200px;
}

.current .icon,
.growing .icon {
	height: 260px;
}

.logo-big {
	width: 300px;
	height: 300px;
    margin: 0 auto;
}

.logo-wording-big {
	display: block;
	width: 300px;
	height: 60px;
    margin: 0 auto;
}

.introducing,
.custom {
	text-align: center;
}

.introducing .title {
	margin-bottom: 40px;
}

.open .title,
.ready .title {
	font-size: 70px;
}

.icons {
	text-align: center;
	margin: 30px 0;
}

.icons svg {
	width: 150px;
	height: 150px;
}

.open .icons .slack {
	width: 300px;
}

.custom .icons svg {
	margin: 0 30px;
}

.ready q {
	margin: 20px 0;
    display: block;
}

.ready .icon {
	border: 3px dashed;
    border-radius: 100px;
}

.hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    z-index: 100;
    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-step-1 .hint {
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }