.account-settings {
	display: flex;
	
	@include mobile() {
		display: block;
	}
	
	.column {
		border-right: 1px solid $border-dark;
		min-width: 33.3%;
	}
	
	.update-photo {
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		display: block;
		font-size: 12px;
	}
	
	.account-details,
	.personal-details {
		input {
			display: block;
			width: 100%;
			border-bottom: 1px solid $border-dark;
		}
	}
	
	.account-details {
		.password {
			margin-bottom: 20px;
		}
		.btn {
			margin: 10px 0 30px 0;
			float: right;
		}
	}
	
	.personal-details {
		input {
			margin-bottom: 20px;
		}
		.btn {
			float: right;
		}
	}
	
	.profile-image {
		width: 150px;
		height: 150px;
		margin: 0 auto 5px auto;
		display: block;
		border-radius: 100px;
		border: 2px solid;
		overflow: hidden;
	}
	
	.loader-small {
		float: right;
		margin-top: 10px;
	}
}