{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
		"indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "react/prop-types": 0,
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "comma-dangle": ["error", "never"],
		"max-len": [1, 120]
	},
	"globals": {
		"document": true,
		"window": true
	}
}
