.admin-page {
	.main-background {
		position: fixed;
		height: 100%;
	}
	.breadcrumbs {
		display: none;
	}
}

.admin {
	padding-top: 50px;

	.columns {
		padding: 0;
	}

	.column {
	    padding-top: 0;
	}

	.nav {
		width: 100%;

		@include desktop() {
			position: absolute;
			width: 30%;
			padding-right: 0;
		}

		.block {
			.item-type-list {
				display: flex;

				> .icon {
					vertical-align: top;
					margin-top: 4px;
					flex-shrink: 0;
					width: 10%;
				}

				.btn-new-item {
					float: right;
					margin-top: 2px;
					height: 26px;
					flex-shrink: 0;
					width: 10%;

					.icon {
						@include scale-anim();
						fill: $green;
						margin: 0;

						&.disabled {
							opacity: .3;
						}
					}
				}
			}

			.select2 {
				margin-bottom: 20px;
			}
		}
	}

	.item-content {
		width: 100%;

		@include desktop() {
			width: 70%;
			margin-left: 30%;
			position: absolute;
		}

		.heading, label {
			font-size: 14px;
			font-weight: bold;
		}

		.heading {
			margin-top: 15px;
			cursor: pointer;

			.icon {
				transform: rotate(90deg);
				transition: all .2s;
				margin-left: 10px;
				width: 15px;
				height: 15px;
			}

			&.active {
				.icon {
					transform: rotate(-90deg);
				}
			}
		}

		.editor-wrapper {
			max-height: 0;
			transition: all .5s;
			overflow: hidden;

			&.active {
				max-height: 100000px;
			}
		}

		.input-field {
			margin-top: 15px;
		}

		.select2 {
			margin-top: 20px;
		}
	}

	.block {
		border: 1px solid $light-grey;
		background-color: $white;
		border-radius: 5px;
		padding: 20px;

		.loader-small {
			float: right;
			display: none;
		}

		.icon {
			margin-right: 10px;
		}
	}

	.block-title {
	    font-size: 18px;

		.btn {
			font-weight: lighter;
			@include mobile() {
				display: none;
			}
		}
	}

	.input-field {
		width: 100%;
		margin-bottom: 10px;
	}

	.input-field {
		border-color: $grey;
	}

	.date-input {
		width: 100px;
	}

	.fee-input {
		margin: 0 10px 0 5px;
		width: 40px;
		font-size: 14px;
	}

	.currency {
		margin-left: 10px;
	}

	.grade-wrapper {
		display: inline-block;
	}

	.icon.calendar {
		margin-left: 10px;
	}

	.block:not(.pages):not(.files) .title-input {
		width: 75%;
	}

	.block.files {
		@include desktop() {
			position: relative;
			min-height: calc(100vh - 100px);
			padding-bottom: 80px;

			.title-input {
				width: 35%;
			}

			.editor-wrapper {
				width: 45%;
			}

			.footer-buttons {
				position: absolute;
				width: calc(100% - 40px);
				bottom: 20px;
			}
		}
	}

	.code-input {
		width: 18%;
		float: right;
	}

	.price-input {
		width: 11%;
		float: right;
		margin-right: 1%;
		display: none;
		&.visible { display: inline-block }
	}

	.btn-save,
	.btn-featured-image,
	.date-label {
		margin-left: 10px;
	}

	.footer-buttons {
		margin-top: 30px;
		padding-top: 20px;
		margin-bottom: 20px;
		border-top: 1px solid $grey;
	}

	.checkbox-label,
	.option-label {
		margin-right: 10px;
	}

	.file-upload-wrapper {
		display: none;

		.btn-cancel {
			margin-left: 10px;
		}
	}

	.file-progress {
		vertical-align: middle;
    	margin: 0 10px;
	}

	.file-download {
	    margin: 10px 0;
	}

	.file-metadata {
		margin-top: 20px;
		max-width: 45%;

		img {
			margin-right: 5px;
		}

		ul {
			margin-top: 10px;
			padding-left: 25px;

			li {
				font-size: 14px;

				span {
					font-weight: bold;
					margin-right: 5px;
				}
			}
		}
	}

	.file-preview {
		@include mobile() {
			width: 100%;
			min-height: 500px;
		}

		@include desktop() {
			position: absolute;
			top: 60px;
			right: 20px;
			max-width: 40%;
			max-height: 75%;

			@media (min-width: 1150px) {
				max-width: 60%;
			}

			@media (min-width: 900px) {
				max-width: 50%;
			}
		}
	}

	.file-settings-block {
		width: 70%;
		float: left;

		.select2 {
			margin-bottom: 10px;
		}

		.btn-cancel {
			display: none;
			margin-left: 10px;

			&.visible { display: inline-block }
		}
	}

	.featured-image-wrapper {
		float: right;
		max-width: 20%;
		margin-top: 20px;
	}

	.featured-image {
		max-width: 100%;
		max-height: 100px;
		display: block;
	}

	.CodeMirror {
		z-index: initial;
	}
}
