.top-nav {
	
	.search-panel {
		
		&.flyout {
			background-color: $blue;
			padding: 20px;
			border: none;
		}
		
		.search-icon {
			fill: $white;
			margin-left: 10px;
		}
		
		.mobile-close {
			display: none;

			.close {
				fill: $white;
			    opacity: 1;
			}

			@include mobile() {
				display: block;
			}
		}
		
		.search-input {
			width: 80%;
			margin-bottom: 20px;
			
			@include mobile() {
				margin-top: 20px;
			}
		}
		
		.search-items {
			list-style-type: none;
			padding: 0;
		}
		
		.search-item {
			font-size: 14px;
			margin: 7px 0;
			padding: 0 5px;
			cursor: pointer;
			display: none;
			position: relative;
			
			&.match, &.none {
				display: block;
			}
			
			&:hover {
				background-color: lighten($grey-top, 10%);
				
				.icon {
					display: block;
				}
			}
			
			&.no-results-found {
				font-size: 14px;
				font-weight: bold;
			}
			
			.icon {
				display: none;
				fill: $white;
				height: 14px;
				position: absolute;
				right: 0;
				top: 3px;
			}
		}
	}
}