.report-page .top-nav .search-panel .search-scroll {
	height: calc(100vh - 203px);
	
	@include mobile() {
		height: calc(100vh - 133px);
	}
}

.top-nav {
	
	.search-panel {
		
		&.flyout {
			padding: 20px;
			border: none;
			width: 30%;
			transition: all 0.2s ease;
			
			&.expanded {
				width: 100%;
			}
			
			@include mobile() {
				width: 100%;
			}
		}
		
		.search-scroll {
			position: relative;
			height: calc(100vh - 162px);
			
			@include mobile() {
				height: calc(100vh - 92px);
			}
		}
		
		.search-icon, .expand-icon .icon {
			margin-left: 10px;
		}
		
		.expand-icon {
			float: right;
			
			@include mobile() {
				display: none;
			}
		}
		
		.mobile-close {
			display: none;

			.close {
			    opacity: 1;
			}

			@include mobile() {
				display: block;
			}
		}
		
		.search-input {
			width: 62%;
			margin-bottom: 20px;
			border-color: $black;
			
			@media (min-width: 1200px) {
				width: 75%;
			}
			
			@include mobile() {
				margin-top: 20px;
			}
		}
		
		.search-items {
			list-style-type: none;
			padding: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -10px;
			right: -10px;
			overflow-y: scroll;
			margin-bottom: 0;
		}
		
		.search-item {
			font-size: 14px;
			padding: 5px 20px 5px 10px;
			cursor: pointer;
			display: none;
			position: relative;
			
			.search-item-wrapper {
				white-space: normal;
			}
			
			.meta {
				display: block;
			}
			
			.parent {
				font-size: 10px;
				color: $grey;
			}
			
			&.match, &.none {
				display: block;
			}
			
			&.disabled {
				cursor: not-allowed;
				opacity: .5;
			}
			
			&:hover {
				background-color: rgba(255,255,255,.1);
				
				.icon {
					display: block;
				}
			}
			
			&.no-results-found {
				font-size: 14px;
				font-weight: bold;
			}
			
			.icon {
				display: none;
				fill: $white;
				height: 14px;
				position: absolute;
				right: 0;
				top: 7px;
			}
			
			.middle {
				font-weight: bold;
			}
		}
	}
}