$black:         	#333333;
$white:         	#ffffff;
$border-light:		rgba(255,255,255,.5);
$border-dark:		rgba(0,0,0,.5);

$very-light-gray:	#f7f7f7;
$quite-light-gray:	#f2f2f2;
$grey-bg:			#EEEEEE;
$lighter-grey:		#e5e5e5;
$light-grey:		#BBBBBB;
$grey-top:			#a0a0a0;
$grey:				#888888;
$grey-hover:		#777777;
$very-dark-grey:	#666666;
$dark-grey:			#444444;
$darker-grey:		#393939;
$darkest-grey:		#2B2B2B;

$main:				$darker-grey;

$green:				#2ecc71;
$green-dark:		#239955;
$red:				#e8303f;
$blue:				#295cb1;
$blue2:				#0c1f3e;
$havelock-blue:		#448cd3;
$yellow:            #ffdd00;
$orange:			#f0ad4e;