.admin-page {
	.main-background {
		position: fixed;
		height: 100%;
	}
}

.admin {
	.column {
	    padding-top: 0;
	}
	
	.nav {
		width: 100%;
		
		@include desktop() {
			position: absolute;
			width: 30%;
			padding-right: 0;
		}
		
		.block {
			.icon {
				vertical-align: top;
				margin-top: 4px;
			}
			
			.btn {
				margin-top: 2px;
				margin-left: 10px;
				float: right;
			}
		}
	}
	
	.item-content {
		width: 100%;
		
		@include desktop() {
			width: 70%;
			margin-left: 30%;
		}
		
		.heading, label {
			font-size: 14px;
			font-weight: bold;
		}
		
		.heading {
			margin-top: 15px;
			cursor: pointer;
			
			.icon {
				transform: rotate(90deg);
				transition: all .2s;
				margin-left: 10px;
				width: 15px;
				height: 15px;
			}
			
			&.active {
				.icon {
					transform: rotate(-90deg);
				}
			}
		}
		
		.editor-wrapper {
			max-height: 0;
			transition: all .5s;
			overflow: hidden;
			
			&.active {
				max-height: 1000px;
			}
		}
		
		.input-field {
			margin-top: 15px;
		}
		
		.select2 {
			margin-top: 20px;
		}
	}
	
	.block {
		border: 1px solid $light-grey;
		background-color: $white;
		border-radius: 5px;
		margin-bottom: 20px;
		padding: 20px;
		
		.icon {
			margin-right: 10px;
		}
	}
	
	.block-title {
	    font-size: 18px;
		
		.btn {
			font-weight: lighter;
		}
	}
	
	.select2 {
		margin-bottom: 20px;
	}
	
	.input-field {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.input-field {
		border-color: $grey;
	}
	
	.date-input {
		width: 100px;
		margin-right: 10px;
	}
	
	.credits-input {
		margin-left: 10px;
		width: 80px;
	}
	
	.dates-wrapper {
		float: left;
		width: 75%;
	}
	
	.grade-wrapper {
		display: inline-block;
	}
	
	.credits-wrapper {
		width: 25%;
		float: right;
		text-align: right;
	}
	
	.icon.calendar {
		margin-left: 10px;
	}
	
	.block:not(.pages):not(.files) .title-input {
		width: 75%;
	}
	
	.code-input {
		width: 18%;
		margin-left: 2%;
	}
	
	.btn-save {
		margin-left: 10px;
	}
	
	.loader-small {
		float: right;
	}
	
	.footer-buttons {
		margin-top: 30px;
		padding-top: 20px;
		border-top: 1px solid $grey;
	}
	
	.checkbox-label {
		margin-right: 10px;
	}
	
	.file-upload-wrapper {
		display: none;
		
		.btn-cancel {
			margin-left: 10px;
		}
	}
	
	.file-progress {
		vertical-align: middle;
    	margin: 0 10px;
	}
}