.home {
	padding-top: 560px;
	
	.hero {
		.world-map {
			position: absolute;
			fill: white;
			opacity: .1;
			top: -50px;
			width: 100%;
			height: 570px;
			display: none;
			animation-delay: .5s;
		}
		
		.hero-content {
			display: none;
			position: absolute;
			top: 100px;
			right: 130px;
			width: 400px;
		}
		
		.elevator-pitch {
			display: none;
			position: absolute;
			top: 240px;
			right: 130px;
    		width: 300px;
			color: $white;
			
			p {
				font-size: 14px;
			}
		}
		
		.logo {
			float: left;
    		fill: $white;
			stroke: $white;
			height: 100px;
		}
		
		.slogan {
			color: $white;
			font-size: 30px;
			text-transform: uppercase;
			position: absolute;
			padding-left: 210px;
			line-height: 34px;
			
			.word {
				width: 1px;
				overflow: hidden; /* Ensures the content is not revealed until the animation */
				border-right: 3px solid transparent; /* The typwriter cursor */
				white-space: nowrap; /* Keeps the content on a single line */
				animation: typing 1s steps(40, end) forwards, blink-caret .75s step-end 2;
				
				&.word1 { animation-delay: 1s; }
				&.word2 { animation-delay: 2.5s; }
				&.word3 { animation-delay: 4s; }
			}
		}
		
		@keyframes typing {
			from { width: 0 }
			to { width: 100% }
		}

		@keyframes blink-caret {
			from, to { border-color: $white }
			50% { border-color: $white; }
		}
		
		.circle {
			display: none;
			position: absolute;
			color: rgba(255,255,255,.8);
			text-align: center;
			font-size: 13px;
    		padding-top: 6px;
			width: 30px;
			height: 30px;
			border-radius: 25px;
			cursor: pointer;
			transition: all .5s;
			
			&.active, &:hover {
				background-color: rgba(255,255,255,.3);
				color: $darker-grey;
				
				.spinner {	
					border-style: solid;
				}
			}
			
			.spinner {
				position: absolute;
				left: 0;
    			top: 0;
				border: 1px dashed rgba(255,255,255,.8);
				border-radius: 25px;
				width: 30px;
				height: 30px;
				animation: spinner linear 3s forwards infinite;
			}
			
			@keyframes spinner {
				0% { transform: rotate(0deg) }
				100% { transform: rotate(360deg) }
			}
			
			&.usa { top: 160px; left: 140px }
			&.brazil { top: 310px; left: 370px; animation-delay: .2s; }
			&.argentina { top: 390px; left: 340px; animation-delay: .4s; }
			&.spain { top: 157px; left: 480px; animation-delay: .6s; }
			&.uk { top: 100px; left: 480px; animation-delay: .8s; }
			&.france { top: 120px; left: 504px; animation-delay: 1s; }
			&.usa2 { top: 170px; left: 264px; animation-delay: 1.2s; }
			&.colombia { top: 300px; left: 270px; animation-delay: 1.4s; }
			&.africa1 { top: 400px; left: 550px; animation-delay: 1.6s; }
			&.africa2 { top: 260px; left: 494px; animation-delay: 1.8s; }
			&.russia1 { top: 100px; left: 624px; animation-delay: 2s; }
			&.arabia { top: 190px; left: 604px; animation-delay: 2.2s; }
			&.india { top: 237px; left: 704px; animation-delay: 2.4s; }
			&.china { top: 160px; left: 734px; animation-delay: 2.6s; }
			&.japan { top: 150px; left: 884px; animation-delay: 2.8s; }
			&.thailand { top: 230px; left: 774px; animation-delay: 3s; }
			&.philippines { top: 240px; left: 834px; animation-delay: 3.2s; }
			&.indonesia { top: 310px; left: 794px; animation-delay: 3.4s; }
		}
		
		.line{
			display: none;
			transform-origin: 0 100%;
			height: 1px;
			background: $white;
			position: absolute;
			opacity: .4;
			
			&.teacher-l1 {
				width: 520px;
				top: 189px;
				left: 293px;
				transform: rotate(15deg);
			}
			
			&.teacher-l2 {
				width: 520px;
				top: 189px;
				left: 293px;
				transform: rotate(15deg);
			}
			
			&.teacher-l3 {
				width: 520px;
				top: 189px;
				left: 293px;
				transform: rotate(15deg);
			}
			
			&.teacher-l4 {
				width: 520px;
				top: 189px;
				left: 293px;
				transform: rotate(15deg);
			}
		}
	}
	
	.courses,
	.posts {
		text-align: center;
		margin-bottom: 50px;
	}
	
	.courses-list,
	.posts-list {
		list-style-type: none;
		display: flex;
		padding: 0 20px;
    	flex-wrap: wrap;
		
		@include mobile() {
			padding: 0;
		}
	}
	
	.section-heading {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: lighter;
		letter-spacing: 3px;
		margin-bottom: 30px;
	}
	
	.course,
	.post {
		display: inline-block;
		width: 33%;
		flex-grow: 1;
		vertical-align: top;
		text-align: left;
		padding: 20px;
		
		@include mobile() {
			width: 100%;
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		.image {
			display: none;
			width: 100%;
			border-radius: 5px;
			margin-bottom: 10px;
		}
		
		.title {
			font-size: 20px;
		    line-height: 26px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			
			&:hover { text-decoration: underline; }
			
			.course-icon {
				font-size: 12px;
				border: 1px solid;
				border-radius: 5px;
				vertical-align: middle;
				margin-right: 5px;
				width: 24px;
				line-height: 20px;
				padding: 2px;
				display: inline-block;
				text-align: center;
				height: 24px;
			}
		}
		
		.meta {
			font-size: 12px;
			
			.icon {
				margin-right: 5px;
			}
			
			.date {
				font-weight: bold;
			}
		}
		
		$font-size: 14px;
		$line-height: 1.5;
		$lines-to-show: 5;

		.content {
			display: block; /* Fallback for non-webkit */
			display: -webkit-box;
			height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
			margin: 0 auto;
			font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.actions {
			margin: 10px 0;
			
			.enroll-now {
				margin-right: 10px;
			}
			
			.btn-secondary {
				color: $blue;
			}
		}
	}
	
	.loader-small {
		display: block;
		margin: 0 auto;
	}
}