.home {
	padding-top: 560px;
	
	.hero {
		.world-map {
			position: absolute;
			fill: white;
			opacity: .1;
			top: -20px;
			width: 100%;
			height: 500px;
			display: none;
			animation-delay: 1s;
		}
		
		.hero-content {
			display: none;
			position: absolute;
			top: 90px;
			margin: 0 auto;
			left: 0;
			right: 0;
			width: 430px;
		}
		
		.logo {
			float: left;
    		fill: $white;
			stroke: $white;
			height: 100px;
		}
		
		.slogan {
			color: $white;
			font-size: 30px;
			text-transform: uppercase;
			position: absolute;
			padding-left: 210px;
			line-height: 34px;
		}
	}
	.news {
		border-right: 1px solid $border-dark;
		flex-flow: 0;
		
		@include desktop() {
			width: 55%;
		}
	}
	
	.courses {
		flex-flow: 1;
		
		@include desktop() {
			width: 45%;
		}
	}
	
	.courses-nav {
		float: right;
	}
	
	.courses-list,
	.new-courses-list {
		list-style-type: none;
		font-size: 14px;
		padding: 0;
	}
	
	.course-item {
		.course-title {
			font-weight: bold;
		}
	}
	
	.courses-heading {
		font-size: 28px;
		border-bottom: 1px solid;
		margin-bottom: 15px;
	}
	
	.new-courses-heading {
		margin-top: 50px;
		font-size: 18px;
		border-bottom: 1px solid;
		margin-bottom: 15px;
	}
	
	.new-courses-list {
		.course-item {
			float: left;
			width: 50%;
		}
		.course-thumb {
			width: 80px;
			height: 60px;
			border: 1px solid $black;
			float: left;
			margin-right: 5px;
			margin-bottom: 10px;
		}
		.course-title {
			display: block;
		}
	}
	
	.posts {
		list-style-type: none;
		padding: 0;
	}
	
	.featured-post {
		.post-title {
			font-size: 22px;
		}
		.post-content {
			//@include truncate();
		}
	}
	
	.post-image {
		width: 100%;
		border: 1px solid;
	}
}