.home {
	.hero {
		background: url(/static/img/graduation-banner.jpg) no-repeat;
		background-position: center 60%;
		background-size: cover;
		height: 400px;
		width: 100%;
		display: block;
	}
	
	.home-columns {
		display: flex;

		@include mobile() {
			display: block;
		}
	}
	
	.news {
		border-right: 1px solid $border-dark;
		flex-flow: 0;
		
		@include desktop() {
			width: 55%;
		}
	}
	
	.courses {
		flex-flow: 1;
		background-color: $lighter-grey;
		
		@include desktop() {
			width: 45%;
		}
	}
	
	.courses-nav {
		float: right;
	}
	
	.courses-list,
	.new-courses-list {
		list-style-type: none;
		font-size: 14px;
		padding: 0;
	}
	
	.course-item {
		.course-title {
			font-weight: bold;
		}
	}
	
	.courses-heading {
		font-size: 28px;
		border-bottom: 1px solid;
		margin-bottom: 15px;
	}
	
	.new-courses-heading {
		margin-top: 50px;
		font-size: 18px;
		border-bottom: 1px solid;
		margin-bottom: 15px;
	}
	
	.new-courses-list {
		.course-item {
			float: left;
			width: 50%;
		}
		.course-thumb {
			width: 80px;
			height: 60px;
			border: 1px solid $black;
			float: left;
			margin-right: 5px;
			margin-bottom: 10px;
		}
		.course-title {
			display: block;
		}
	}
	
	.posts {
		list-style-type: none;
		padding: 0;
	}
	
	.featured-post {
		.post-title {
			font-size: 22px;
		}
		.post-content {
			//@include truncate();
		}
	}
	
	.post-image {
		width: 100%;
		border: 1px solid;
	}
}