.notFound {
	background-color: $blue;
	color: $white;
	
	&.page {
		padding: 190px 0 0;
		
		@include mobile() {
			padding-top: 140px;
		}
	}
	
	.icon-404 {
		transform: scale(15);
		position: relative;
		left: 140px;
		
		@include mobile() {
			transform: scale(8);
			margin: 0 auto;
			display: block;
			left: 0;			
		}		
	}
	
	.content-container {
		margin-top: 100px;
		
		@include mobile() {
			margin-top: 50px;
		}
	}
	
	.btn-container {
		text-align: center;
		margin-top: 40px;
	}
	
	.footer {
		width: 100%;
		height: 60px;
		background-color: $darkest-grey;
		position: fixed;
		bottom: 0;
		
		@include mobile () {
			height: 50px;
		}
		
		.icon {
			width: 300px;
			height: 300px;
			position: absolute;
			bottom: 0;
			left: -50px;

			@include mobile () {
				width: 150px;
				height: 150px;
				bottom: 10px;
			}
		}
	}	
}