.breadcrumbs {
	height: 36px;
	width: 100%;
	padding-top: 5px;
	border-bottom: 1px solid $border-light;
	background-color: #273a5a;
	
	.breadcrumbs-items {
		padding: 0;
		list-style-type: none;
		margin: 0;
		margin-left: 20px;
		padding-top: 6px;
		font-size: 11px;
		color: $white;
		
		@include mobile() {
			white-space: nowrap;
			overflow: hidden;
			width: 80%;
		}
	}
	
	.item {
		display: inline-block;
		margin-right: 5px;
		text-transform: capitalize;
		
		&:after {
			content: '>';
			float: right;
			margin-left: 5px;
		}
		
		&:last-child:after {
			display: none;
		}
	}
}