.breadcrumbs {
	height: 30px;
	width: 100%;
	padding-top: 2px;
	
	.breadcrumbs-items {
		padding: 0;
		list-style-type: none;
		margin: 0;
		margin-left: 20px;
		padding-top: 6px;
		font-size: 10px;
		
		@include mobile() {
			white-space: nowrap;
			overflow: hidden;
			width: 80%;
		}
	}
	
	.item {
		display: inline-block;
		margin-right: 5px;
		
		&:after {
			content: '>';
			float: right;
			margin-left: 5px;
		}
		
		&:last-child:after {
			display: none;
		}
	}
}