.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    z-index: 4;
    
	&.hidden {
		display: none !important;
	}
        
    .loader__circle {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 200px;
        height: 200px;
		border-radius: 50%;
        //box-shadow: inset 0 0 0 12px $blue;
        z-index: 1;
    }

    .loader__line-mask {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 200px;
        margin-left: -100px;
        margin-top: -100px;
        overflow: hidden;
        z-index: 2;
        transform-origin: 100px 100px;
        mask-image: linear-gradient(to bottom, rgba(255, 255, 255,1), rgba(255, 255, 255,0));
        animation: rotate 1.2s infinite linear;
        transition: all .3s;
        
        .loader__line {
            height: 200px;
            width: 200px;
			border-radius: 50%;
            box-shadow: inset 0 0 0 12px lighten($blue, 20%);
        }
    }

    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); } 
    }
    
    
    .loader__logo {
        position: absolute;
        top: -10px;
        bottom: 0;
        left: 0;
        right: 0;
		opacity: .8;
        margin: auto;
		fill: $white;
		width: 300px;
		height: 300px;
		transform: scale(0.45);
    }
}

.loader-small,
.loader-small:after {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.loader-small {
	display: none;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid $blue;
	transform: translateZ(0);
	animation: spinner 1.1s infinite linear;
	
	&.inverted {
		border-color: rgba(255,255,255,0.2);
		border-left-color: $white;
	}
	
	@keyframes spinner {
		0% { transform: rotate(0deg) }
		100% { transform: rotate(360deg) }
	}
}