.post {

	.post-wrapper {
		background-color: $white;
		margin: 0 20px 20px 20px;
		min-height: calc(100vh - 150px);
		
		@include mobile() {
			margin: 0;
		}
	}
	
	.title {
		text-align: center;
		padding-top: 20px;
		font-weight: lighter;
	}
	
	.date  {
		text-align: center;
		font-size: 13px;
    	color: $grey;
	}
	
	.loader-small {
		display: block;
		margin: 20px;
	}
	
	.columns {
		padding: 10px 20px 20px 20px;
		
		@include mobile() {
			padding: 10px 0 0 0;
		}
		
		&.single-column {
			.post-content {
				@include desktop() {
					width: 85%;
				}
				@media (min-width: 1200px) {
					width: 60%;
				}
			}
		}
	}
	
	.column {
		width: 50%;
		
		img {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	
	.post-content {
		margin: 0 auto;
		text-align: justify;
		
		@include mobile() {
			width: 100%;
		}
	}
	
	.post-sidebar {
		
		@include mobile() {
			width: 100%;
		}
	}
}