.footer {
	background-color: $light-grey;
	text-align: center;
    color: $white;
    font-size: 12px;
    padding: 20px;
	
	.icon {
		border: 1px solid $white;
		border-radius: 5px;
		fill: $white;
		margin: 0 5px;
	}
	
	a {
		color: $white;
	}
}