.btn {
    color: $white;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
	padding: 3px 13px;;
	
    &:focus {
        outline: none !important;
    }	
	
    &.btn-xs { 
        padding: 2px 10px;
    	font-size: 12px;
    }	
    
	&.btn-primary {
		background-color: $green;
    	border: none;		
	}
	
	&.btn-outline {
		color: $grey;
		border-color: $grey;
	}
}