body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: lighter;
	color: $dark-grey;
	margin: 0;
}

textarea, input, button {
	border: none;
    background: none;
	
	&:focus {
        outline: none !important;
    }
}

a, a:hover, a:active, a:visited, a:focus {
	color: $blue;
}

.btn {
	@include scale-anim();
}

.icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.go-back {
	position: absolute;
	left: 5px;

	.icon {
		fill: $white;
	}
}

.close {
	width: 16px;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1;
}

.notification {
	border-radius: 20px;
	background-color: $red;
	color: $white;
	width: 17px;
    height: 17px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    margin: 3px;
}

.main {

}

.column {
	padding: 20px;
	
	@include mobile() {
		width: 100%;
	}
}

.page {
	min-height: 100vh;
	padding-top: 60px;
	background-color: $grey-bg;
	
	@include desktop() {
		padding-top: 70px;
	}
}

.react-datepicker {
	border-radius: 0;
	font-family: inherit;
	
	.datepicker__day--selected,
	.datepicker__day:hover {
		border-radius: 0;
	}
}

.flyout {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	z-index: 3;
	top: 0;
	background-color: $white;
    border-right: 1px solid $light-grey;

	@include desktop() {
		width: 25%;
		top: 70px;
	}
}

.push-menu, .flyout-right {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: $white;

	@include desktop() {
		width: 25%;
		top: 70px;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
	display: none;
	animation-duration: .3s;
	
	@include desktop() {
		top: 70px;
	}
}

.dropdown-panel {
	background-color: $white;
	position: fixed;
	top: 70px;
	width: 100%;
	height: 100vh;
	overflow: scroll;
	z-index: 1;

	@include mobile () {
		top: 85px;
		height: 85vh;
	}

	.close {
		right: 20px;
		top: 20px;
		fill: $darkest-grey;
		cursor: pointer;
	}		
}