.page {
	min-height: calc(100vh - 80px);
	padding-top: 70px;
	width: 100%;
	
	.page-wrapper {
		background-color: $white;
		margin: 0 20px 20px 20px;
		min-height: calc(100vh - 150px);
		
		@include mobile() {
			margin: 0;
		}
	}
	
	.title {
		text-align: center;
		padding-top: 20px;
		font-weight: lighter;
	}
	
	.columns {
		padding: 10px 20px 20px 20px;
		
		@include mobile() {
			padding: 10px 0 0 0;
		}
		
		&.single-column {
			.page-content {
				@include desktop() {
					width: 85%;
				}
				@media (min-width: 1200px) {
					width: 60%;
				}
			}
		}
	}
	
	.column {
		width: 50%;
		
		img {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	
	.page-content {
		margin: 0 auto;
		text-align: justify;
		
		@include mobile() {
			width: 100%;
		}
	}
	
	.page-sidebar {
		
		@include mobile() {
			width: 100%;
		}
	}
}