$black:         	#333333;
$white:         	#ffffff;

$very-light-gray:	#f7f7f7;
$lighter-grey:		#e5e5e5;
$grey-top:			#a0a0a0;
$light-grey:		#BBBBBB;
$grey-bg:			#EEEEEE;
$grey:				#888888;
$grey-hover:		#777777;
$very-dark-grey:	#666666;
$dark-grey:			#444444;
$darker-grey:		#393939;
$darkest-grey:		#2B2B2B;

$main:				$darker-grey;

$green:				#2ecc71;
$green-dark:		#239955;
$red:				#e8303f;
$blue:				#122d59;
$havelock-blue:		#448cd3;
$yellow:            #ffdd00;