.modal-box-wrapper {
	display: none;
	
	.modal-box {
		background-color: $white;
		padding: 50px;
		text-align: center;	
		position: fixed;
		top: 35vh;
		left: 25vw;
		width: 50vw;
		z-index: 3;
		border-radius: 5px;

		@include mobile () {
			padding: 30px 25px;
			width: 90vw;
			top: 30vh;		
			left: 5vw;	
		}

		.modal-box-title {
			color: $dark-grey;
			margin-bottom: 40px;
		}
		
		.btn-primary {
			margin-left: 10px;
		}
	}

	.overlay {
		display: block;
	}
}